body{
	background: url(https://lh3.googleusercontent.com/0xa7A6k1oVp0LJ3Fx_VfJDmhtOnNL60HjJXIbJW2jdJgWfFIN6tB9gXFjAUlWUpcc3r6DpVXuj_lBhhoV84OJVDIpNF1wl2ohqSjLhkXNXxHSpd7r3sko1ALVzdErRDg2FaqMOt8X-262WxEye5lGjaZMKTcFRly5YYd8ZnEfxm1jiWjKxKD1KZiYaELiOIq_9iJEwvGrsdQcBRBqJW35TZ0ONBKX-fHtNqVgYN6lFcYfjhqxyJARsLIVcrdGW85UixjLS5YCekYasShxB3QCkvA2WueCbdj9rwtjn0KLkmY59Tey3TJ-VuO8tVicOEjq-X5m666AmFbDnfdb07-BXpAtzs2krDmBvL6vubwX5isoOoOOM-DdK-x3U0kOg9kNn1T5UYlqSdxPS_mKnXL0zlCQZaL6ZCrCBvwHhQOtjQKapApHIYS3xlMzDesfiU74tO_Ifbexl-PsxaGiCZOp44dREPkoxlR67u65cOCEk55G4NLo_qiLPSd-1fgjxVZbTghSRj1cio17NCyjuiU6pGvkQkBKxCGpXsYbSYdlQ7dh5G81yDDwVUtTX5HZ-SlyKqgsAujFb-FtZeFbxk7wYMqVJEv6elaromLqoSyuTk3ed5GYBZw8YJsED0BXcxC-V4XwM6ttjZwJhsGsJmukmULh_UPA79KJX5PlFFzjA=w1240-h930-no) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 960px;
	height: 100%;
	margin: auto;
	background-color: grey;
}


h1,
h2,
ul,
li{
	color: white;
}

#titleBar{
	text-align: center;
}

#questions{
	background: rgba(19,156,60,0.3);
	padding: 10px;

}

#submit-quiz{
	margin: 5px;
}

#countDown{
	position: fixed;
}

@media only screen and (max-width: 980px) {	
}

@media only screen and (max-width: 768px){

}
@media only screen and (max-width: 640px){
	
}